@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --my-gradient: linear-gradient(90deg, #FF6C00 0%, #FFC200 100%);
}

.element {
    background: var(--my-gradient);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.titulo-login {
    background: var(--my-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cabecalho-login {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cabecalho-login,
.principal-login {
    padding: 0 10%;
}

.logo {
    width: auto;
    height: 42px;
}

.principal-login {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.conteudo {
    width: 45%;
}

.personagem, .imagem-login {
    width: 55%;
}

.titulo-login {
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.input-form {
    width: 100%;
    padding: 16px;
    background-color: transparent;
    border-radius: 6px;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0;
}

.input-form::placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

#login-form > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 14px 0;
}

#login-form > div > a {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
}

#login-form > div > div {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.manter-conectado-txt {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
}

.botao-login {
    width: 100%;
    margin: 10px 0;
    padding: 16px 24px;
    border-radius: 6px;
    background: var(--my-gradient);
    border: 1px solid var(--my-gradient);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: white;
}

.botao-login:hover {
    cursor: pointer;
    background: orange;
}

.cadastre-se {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.cadastre-se > a {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--my-gradient);
}

.img {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.perso {
    padding: 60px;
    margin: 60px;
    text-align: center;
    justify-content: center;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .personagem {
        display: none; /* Oculta a imagem em telas menores que 768px */
    }

    .conteudo {
        width: 100%; /* O conteúdo agora ocupa 100% da largura disponível */
    }

    .titulo-login {
        font-size: 28px;
    }

    .input-form {
        font-size: 14px;
        padding: 12px;
    }

    .botao-login {
        font-size: 14px;
    }

    .cadastre-se {
        font-size: 14px;
    }
}
