.card-usuario{
    width: 30%;
    height: 130px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 6px;
    gap: 5px 0;
}

.imagemCard{
    width: 20%;
    margin-right: 16px;
}

.infosCard{
    width: 50%;
}

.descricaoCard{
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    color:  #B0B1B2;
}

.nomeCard{
    font-family: Nunito;
    font-size: 16px;
    font-weight: 500;
}


.aptoCard{
    width: 100%;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    color: #B0B1B2;
}

.entregueCard{
    width: 20%;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    color: #FF6C00;
}
@media (max-width: 1400px) {
    .entregueCard{
        width: 100%;
        margin: 5px 0;
    }
}

@media (max-width: 1100px) {
    .card-usuario{
        width: 30%;
        height: 130px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
        align-items: center;
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 6px;
    
    }
}

@media (max-width: 768px) {
    .card-usuario{
        width: 45%;
        height: 130px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
        align-items: center;
        box-shadow: 0px 4px 4px 0px #00000040;
        border-radius: 6px;
    
    }
}